@font-face {
    font-family: Grotesk;
    src: url(../ASSETS/DTGetaiGroteskDisplay-Black.otf);
}

body {
    margin: 0;
    padding: 0;
    background: #18181b;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', Arial, sans-serif;
    background-size: 100px 100px;
    background-image:
        linear-gradient(to right, #25252b 1px, transparent 1px),
        linear-gradient(to bottom, #25252b 1px, transparent 1px);
    }

@media (max-width: 700px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 50px;
        right: 5%;
        width: 40%;
        background: #111116;
        border-radius: 2em;
        margin: 0;
        padding: 1em 0;
        z-index: 100;
        align-items: center;
        overflow: hidden;
        list-style-type: none;
        box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.25);
    }
    section {
    width: 95%;
}
    nav ul li {
        margin: 0.5em 0.5em;
        border-radius: 0.5em;
        padding: 0.5em 6em;
    }
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        border-radius: 0.5em;
        padding: 0.5em 1em;
    }
    nav ul li:active{
    background-color: #ff2c2c;
    color: #ffffff;
}
    #burger-toggle:checked + label + nav ul {
        display: flex;
    }
    #burger {
        position: fixed;
        top: 16px;
        right: 24px;
        z-index: 101;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: block;
    }
    #burger::before, #burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #ff2c2c;
        left: 0;
        display: inline-block;
        transform-origin: center;
        transition: all 0.3s ease;
    }
    #burger::before {
        top: 9px;
    }
    #burger::after {
        top: 19px;
    }
    #burger-toggle:checked + #burger::before {
        transform: rotate(45deg);
        top: 14px;
    }
    #burger-toggle:checked + #burger::after {
        transform: rotate(-45deg);
        top: 14px;
    }
    #burger.open {
        background-color: transparent;
    }
    #burger.open::before {
        transform: rotate(45deg);
        top: 0;
    }
    #burger.open::after {
        transform: rotate(-45deg);
        top: 0;
    }
}
@media (min-width: 701px) {
nav ul {
    position: fixed;
    top: 0;
    list-style-type: none;
    padding: 0.5em;
    margin: 1em;
    overflow: hidden;
    background-color: #111116;
    display: flex;
    border-radius: 2em;
    z-index: 10;
    box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.25);
}
nav ul li a{
    color: white;
    padding: 0.25em;
    margin: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 2em;
    border: 2px;
    border: #111116 solid 1px;
}
nav ul li a:hover{
    border: #ff2c2c solid 1px;
    color: #ff2c2c;
    cursor: pointer;
}
nav ul li a:active{
    background-color: #ff2c2c;
    color: #ffffff;
}
nav{
    display: block;
    justify-items: center;
}
}

h1 {
    font-family: 'Grotesk', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 20%;
}
h2 {
    font-family: 'Grotesk', cursive;
    font-size: 2rem;
    margin-bottom: 8px;
}
h3 {
    font-family: 'Grotesk', cursive;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.line {
    border: none;
    border-top: 3px solid #e94f4f;
    margin: 0 auto 32px auto;
    width: 80%;
}
.group-title {
    font-family: 'Grotesk', cursive;
    font-size: 2rem;
    margin-bottom: 24px;
}
.contact-list {
    margin-bottom: 32px;
}

.role {
    margin-left: 16px;
    color: #aaa;
} 
.dot {
    color: #e94f4f;
    font-size: 2em;
    margin-right: 8px;
}
.url {
    color: #e94f4f;
    font-size: 1.1rem;
    margin-bottom: 32px;
}
/* Footer */
footer {
       background: #111116;
       color: #fff;
       padding: 20px 0;
       margin-top: 5em;
       box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.25);
       border-radius: 4em;
       margin-right: 1.5em;
       margin-left: 1.5em;
       border-image-slice: 1;
       border-image-width: 1;
       width: 95%;
    } 


nav.foot a {
       border: none;
       display: flex;
       justify-content: space-around;
       align-items: center;
       color: white;
       padding: 2em 1em;
       gap: 0.25em;
       font-weight: bold;
       text-decoration: none;
       text-decoration: underline;
    }
nav.foot a:hover {
       color: red;
    }
nav.foot {
       display: flex;
       justify-content: space-around;
       align-items: center;
       font-size: 1.7em;
       margin-top: -1.5em;
    }

section.footer-text img.reseau {
       width: 2.5em; 
       margin-top: -2em;
    }
section.footer-text {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

section.footer-text .footer-logos {
    display: flex;
    gap: 1.5em;
}

section.footer-text .gauche{
    margin-left: 2em;
}
section.footer-text .gauche a{
    margin: auto 1em;
    justify-content: space-around;
}
section.footer-text .droite a{
    margin: auto 1em;
    justify-content: space-around;
}
section.footer-text .droite {
    margin-right: 2em;
}

section.footer-centre {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: 2em 2em;

}
/* version mobile */
@media (max-width: 600px) {

       footer {background: #111116;
              color: #fff;
              padding: 20px 0;
              margin-top: 5em;
              box-shadow: 0 -2px 2px rgba(255, 255, 255, 0.25);
              border-radius: 1.5em;
              margin-right: 0.5em;
              margin-left: 0.5em;
              border-image-slice: 1;
              border-image-width: 1;
              width: 95%;
            } 

       nav.foot a {
              display: flex;
              font-size: small;
              justify-content: space-between;
              align-items: center;
              color: white;
              padding: 2.5em 0em;
              padding-bottom: 1.5em;
              font-weight: bold;
            }



       section.footer-text img.reseau {width: 1.5em; 
              margin-top: -2em;
            }

       section.footer-text {display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.8em;
              margin-bottom: -1.5em;
            }

       section.footer-text p {
    font-size: 0.75em;
    margin: 0.5em 1em;
    width: auto; 
    padding: 0;
    white-space: nowrap;
}
        
       section.footer-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 0.8em;
        margin-bottom: 0;
    }
    section.footer-text .footer-logos {
        gap: 0.5em;
    }
    section.footer-centre {
        font-size: 0.8em;
        width: 100%;
        text-align: center;
        display: inline;
        margin: 2em 2em;
    }
}